@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@font-face {
  font-family: 'Brodaers-Rough';
  src: url('/fonts/Brodaers-Rough.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
